/* You can add global styles to this file, and also import other style files */
:root{
    --color-navs: #474574;
    --color-font: #07051A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}